body {
    background-color: #f9f9f9;
    margin-bottom: 50px;
  }
  
  h2 {
    margin-top: 1rem;
  }
  
  pre {
    white-space: pre-wrap; /* Allow wrapping for long lines */
  }
  
  .navbar-brand {
    font-weight: bold;
    text-transform: uppercase;
  }
  